body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}

/* Box (for corners & padding) */
.box {
    padding-left: 20px;
    padding-right: 20px;
    /* border-radius: 10px; */
}


/* Set up grids... specifics */

/*  #### Grid for Main page #### */


.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner"
        "nav"
        "main"
        "footer";
    
}

.banner {
    grid-area: banner;
    background-color: #f2b929; /* orange */
    border: #d19f1f solid 1px;
}

.nav {
    grid-area: nav;
    background-color: #d4d4d4;  /* light grey */
    font-size: 150%;
    padding: 20px;
    vertical-align: middle;
    border: #a1a1a1 solid 1px;
}

.main {
    grid-area: main;
    background-color: #eee;  /* very pale grey */
    border: #c7c7c7 solid 1px;
}


.footer {
    grid-area: footer;
    text-align: right;
    padding: 20px;
    background-color: #51b844; /* dark green */
    border: #429438 solid 1px;
}

/*  #### Grid for Navigation area page #### */

.linkwrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas: 
        "commonsearches topsearch topadmin";
    grid-gap: 4px;
}


.commonsearches {
    grid-area: commonsearches;
    text-align: center;
}

.topsearch {
    grid-area: topsearch;
    text-align: right;
}

.topadmin {
    grid-area: topadmin;
    text-align: center;
}

/* ### Additional div styling (put colours / corners here) */

/* #### Links Styling  #### */

/* Navigation Links */
.banner a, .linkwrapper a {
    font-weight: bold;
    text-decoration: none;
    color: #22631a;
}
.banner a:visited {color: #22631a;} /*dark teal */
.banner a:hover {color: #40911a; text-decoration: none;} 


/* links in page */
a {font-weight: bold;}
a:link{color: #007c72;} /* dark teal */
a:visited{color: #222;} /* dark grey */
a:hover{color: #707a00;}    /* Dark Green*/

/* #### Headings / text styling #### */
h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.important {
    background-color: #ffb6b6;
    padding: 10px;
}

.light_blue {
    background-color: lightskyblue;
    padding: 10px;
}

.results {
    background-color: #fff;
    border: 1px solid #d68b00;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.tag {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #000;
    border-radius: 5px;
}

.subject-tag {
    background-color: bisque;
}

.white-tag {

}

.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849; /* purple */
    font-weight: bold;
}

.no-results {
    padding: 5px;
    background-color: #ffbbbb;
    border: solid 1px #a40f0f;
}

.error {
    color: #a40f0f;
}

/* ### Form / Search  Styling #### */

form {
    width: 100%;
}

.search {
    background:#fff;
    width: 200px;
}

.submit::-moz-focus-inner { 
    border: 0;
}


.submit {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position:relative;
    width: 45px;
    font-size: 14px;
    
    left:-5px;
    background-color: #636263; 
    color:#d6d3d7;
    border: 1px solid #000;
    border-radius: 0 5px 5px 0;   
    display: inline-block;
    padding: 10px;
}

.tools {
    text-align: right;
    padding-right: 20px;
}

input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

.admin-form {
    max-width: 600px;
    margin: auto;
    padding-bottom: 10px;
}

.form-submit {
    width: 100%;
}

input, textarea {
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
}


.quicksearch {
    border-radius: 5px 0 0 5px; 
    display: inline-block;
}

.quick-choose {
    padding: 10px;
    border: solid 1px #000;
}

select {
    height: 40px;
    padding: 8px 15px;
    margin-top: 10px;
    width: 197px;
}

/* media queries */

@media only screen and (max-width: 1175px) {
    .linkwrapper {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "commonsearches topadmin"
        "topsearch topsearch";
    }

    /* adjust alignment of header on small screens */
    .commonsearches {
        text-align: left;
    }

    .topsearch {
        width: 100%;
        text-align: left;
    }
    
    .topadmin {
        text-align: right;
    }
}